h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

li {
  font-size: 1.2em;
  margin-bottom: 0.75em;
  font-weight: 550;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color:rgb(144, 38, 61);
  width: 35em;
  margin: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 1.5em;
}

img {
  margin-top: 1.5em;
}

.item img {
  max-width: 30em;
  max-height: 25em;
  object-fit: cover;
  margin: 1.5em;
  border-radius: 1.5em;
}

.item button {
  font-size: 1.7em;
  font-weight: bold;
  background-color: rgb(183, 231, 255);
  border-color: transparent;
  border-width: 0.18em;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.barbutton {
  float: right;
  font-size: 1em;
  font-weight: bold;
  width: 8.9em;
  padding: 1.78em 0.5em;
  background-color: #a6093e;
  margin-top: 1.5em;
}

.barbutton:hover{
  float: right;
  font-size: 1em;
  font-weight: bold;
  width: 8.9em;
  padding: 1.78em 0.5em;
  background-color: rgb(93, 143, 171);
  margin-top: 1.5em;
}

.subbutton {
  font-size: 1em;
  font-weight: bold;
  width: 4.4em;
  background-color: rgb(53, 131, 97);
  border-radius: 0.8em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.navbutton {
  font-size: 1em;
  font-weight: bold;
  width: 50em;
  background-color: #fcfdd8;
  border-radius: 0.8em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
}

.secondnavbutton {
  font-size: 1em;
  font-weight: bold;
  width: 50em;
  background-color: rgb(120, 255, 228);
  padding: 0.5em;
  border-radius: 0.8em;
  margin-bottom: 0.5em;
  margin-top: 2em;
  margin-left: 10em;
}

.secondbutton {
  float: right;
  font-size: 1em;
  font-weight: bold;
  width: 51em;
  background-color: rgb(255, 220, 188);
  padding: 0.5em 0.5em;
}

.thirdbutton {
  float: right;
  font-size: 1em;
  font-weight: bold;
  width: 10em;
  background-color: rgb(120, 255, 228);
  border-radius: 0.8em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  padding: 0.5em;
}

.item h1 {
  text-align: center;
  font-size: 4em;
  color: white;
}

.item h2 {
  font-size: 1.8em;
  color: white;
}

.item h3 {
  font-size: 1.5em;
  color: white;
}

.item li {
  font-size: 1.2em;
  margin-bottom: 0.75em;
  font-weight: 550;
  color: white;
}

.item a:link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}


.item a:visited {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}


.item a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}


.item a:active {
  text-decoration: underline;
}

.barbutton a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.barbutton a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.barbutton a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.barbutton a:active {
  text-decoration: none;
}
